includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 9
  parallel:
    maximumNumberOfProcesses: 8
    processTimeout: 300.0
  paths:
    - ../../src
    - ../.
  excludePaths:
    - ../unit/UnitTest.php
    - ../integration/IntegrationTest.php
