<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="false" backupGlobals="true" processIsolation="false" stopOnError="true" stopOnFailure="true" stopOnIncomplete="true" stopOnSkipped="false" stopOnRisky="false" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" cacheResultFile="../../var/cache/.phpunit.unit.cache" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">../unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix="Test.php">../integration/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="test"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">../../src</directory>
    </include>
  </source>
</phpunit>
